<!-- Basic page layout -->
{% extends "predict/base.html" %}


<!-- The main page content -->
{% block page-content %}
<div class="row">
    <div class="large12 callout columns">
        <h3>Login to Play</h3>

        <form method="post" action=".">{% csrf_token %}
            {{ form.as_ul }}
            <input type="hidden" name="next" value="/" />
            <input type="submit" value="Login" /> or <a href="/register">Register</a>
        </form>

    </div>
</div>
{% endblock %}
