<!-- Basic page layout -->
{% extends "predict/base.html" %}

{% block title %}F1 Prediction Game - Login{% endblock %}
<!-- The main page content -->
{% block page-content %}
<div class="row panel">
    <div class="large12 callout columns">
        <h3>Login to Play</h3>

        <form method="post" action=".">{% csrf_token %}
            {{ form.as_ul }}
            <input type="hidden" name="next" value="{% url 'index' %}" />
            <input type="submit" value="Login" /> or <a href="{% url 'register' %}">Register</a>
        </form>

    </div>
</div>
{% endblock %}
