<!-- Basic page layout -->
{% extends "predict/base.html" %}

<!-- The main page content -->
{% block page-content %}
<div class="row">
    <div class="large12 columns">
        <table>
            <tr><th>F1 Prediction Game</th></tr>
        </table>

   <form method="post" action=".">{% csrf_token %}
        <table border="0">
            {{ form.as_table }}
        </table>
        <input type="submit" value="Register" next="/predict"/>
    </form>
</div>
</div>
{% endblock %}