
body {
    font-family: sans-serif;
-webkit-font-smoothing: antialiased;
    background-color: rgb(200, 200, 200);
}

#season-list {
    position: fixed;
    top: -12px;
    text-decoration: none;
}

.page-body {
    position: relative;
    left: 200px;
}

.page-row{
    width: 100%;
    height: auto;
    float: left
}

.content a {
    text-decoration: none;
    color: rgb(111, 111, 111);
}
.content {
font-family: sans-serif;
-webkit-font-smoothing: antialiased;
font-size: 115%;
width: auto;
overflow: auto;
display: block;
float: left;
}
.content th {
background-color: rgb(75, 196, 196);
font-weight: normal;
font-size: 130%;
color: white;
padding: 20px 30px;
text-align: center;
}
.content td {
background-color: rgb(238, 238, 238);
padding: 20px 30px;
color: rgb(111, 111, 111);
}


/*
.flat-table {
        width: auto;
        height: auto;
        float: left;
        margin-bottom: 20px;
        border-collapse:collapse;
        font-family: 'Lato', Calibri, Arial, sans-serif;
        border: none;
                border-radius: 3px;
               -webkit-border-radius: 3px;
               -moz-border-radius: 3px;
    }
    .flat-table th, .flat-table td {
        box-shadow: inset 0 -1px rgba(0,0,0,0.25), 
            inset 0 1px rgba(0,0,0,0.25);
    }
    .flat-table th {
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
        padding: 1em;
        color: rgba(0,0,0,0.45);
        text-shadow: 0 0 1px rgba(0,0,0,0.1);
        font-size: 1.5em;
    }
    .flat-table td {
        color: #f7f7f7;
        padding: 0.7em 1em 0.7em 1.15em;
        text-shadow: 0 0 1px rgba(255,255,255,0.1);
        font-size: 1.4em;
    }
    .flat-table tr {
        -webkit-transition: background 0.3s, box-shadow 0.3s;
        -moz-transition: background 0.3s, box-shadow 0.3s;
        transition: background 0.3s, box-shadow 0.3s;
    }
    .flat-table-1 {
        background: #336ca6;
    }
    .flat-table-1 tr:hover {
        background: rgba(0,0,0,0.19);
    }
    .flat-table-2 tr:hover {
        background: rgba(0,0,0,0.1);
    }
    .flat-table-2 {
        background: #f06060;
    }
    .flat-table-3 {
        background: #52be7f;
    }
    .flat-table-3 tr:hover {
        background: rgba(0,0,0,0.1);
    }
*/

