
body {
    font-family: sans-serif;
-webkit-font-smoothing: antialiased;
    background-color: rgb(200, 200, 200);
}

/* the sidebar / season list */
.sidebar {
    position: fixed;
    text-decoration: none;
}

#season-list th a:link {color: white; text-decoration: none; }
#season-list th a:active {color: white; text-decoration: none; }
#season-list th a:visited {color: white; text-decoration: none; }
#season-list th a:hover {color: white; text-decoration: none; }

/* main page div */
.page-content {
    position: relative;
    left: 180px;
    width: auto;
}

/* logical row on the page */
.page-row{
    width: 100%;
    height: auto;
    float: left
}

/* table stuff */
.content a {
    text-decoration: none;
    color: rgb(111, 111, 111);
}
.content {
font-family: sans-serif;
-webkit-font-smoothing: antialiased;
font-size: 100%;
width: auto;
overflow: auto;
display: block;
float: left;
}
.content th {
background-color: rgb(75, 196, 196);
font-weight: normal;
font-size: 120%;
color: white;
padding: 20px 40px;
text-align: center;
}
.content td {
background-color: rgb(238, 238, 238);
padding: 10px 10px;
color: rgb(111, 111, 111);
text-align: left;
}
