<!DOCTYPE html>
<html  class="no-js" lang="en">
{% load staticfiles %}
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}F1 Prediction Game{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'foundation-6/css/app.css' %}" />
    <link rel="stylesheet" href="{% static 'foundation-6/css/foundation.css' %}" />
</head>

<body>
    {% include "predict/topbar.html" %}

    {% block page-content %}
    <p>Page Content</p>
    {% endblock %}

    <script src="{% static 'foundation-6/js/vendor/jquery.min.js' %}"></script>
    <script src="{% static 'foundation-6/js/vendor/what-input.min.js' %}"></script>
    <script src="{% static 'foundation-6/js/foundation.min.js' %}"></script>
    <script src="{% static 'foundation-6/js/app.js' %}"></script>
</body>
</html>



