<!DOCTYPE html>
<html  class="no-js" lang="en">
{% load staticfiles %}
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %}F1 Prediction Game{% endblock %}</title>

    <!-- Foundation -->
    <link rel="stylesheet" href="{% static 'foundation/css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'foundation/css/foundation.css' %}" />
    <link rel="stylesheet" href="{% static 'responsive-tables/responsive-tables.css' %}" />

    <!-- My App -->
    <link rel="stylesheet" href="{% static 'predict/app.css' %}" />
    <style>
      .header {
          text-align: center;
          background: url("{% static 'images/f1-cars-dim.jpg' %}") no-repeat center center;
          background-size: cover;
          padding: 4rem;
      }
      body {
          background-color: #333
      }
    </style>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
    </script>

    {% block page_header %}
    {% endblock %}
</head>

<body>

    {% include "predict/topbar.html" %}

    <header class="header">
        <div class="row">
            <div class="small-12 columns">
                <div class="small-12 columns">
                    <h1 class="main-header"><strong>
                    {% block header-heading %}
                    {% endblock %}
                    </strong></h1>
                </div>
            </div>
        </div>
        <ul class="header-subnav">
        {% block header-subnav-items %}
            {% if season %}
            <li><a href="{% url 'season_overview' season.first.name %}">Results</a></li>
            <li><a href="{% url 'driver_championship' season.first.name %}">Drivers</a></li>
            <li><a href="{% url 'constructor_championship' season.first.name %}">Constructors</a></li>
            <li><a href="{% url 'calendar' season.first.name %}">Calendar</a></li>
            <li><a href="{% url 'entry_list' season.first.name %}">Entry List</a></li>
            {% endif %}
        {% endblock %}
        </ul>
    </header>

    {% block page-content %}
    <p>Page Content</p>
    {% endblock %}

    <!-- Foundation -->
    <script src="{% static 'foundation/js/vendor/jquery.js' %}"></script>
    <script src="{% static 'foundation/js/foundation.min.js' %}"></script>
    <script src="{% static 'responsive-tables/responsive-tables.js' %}"></script>
    <script>
        $(document).foundation();
    </script>


</body>

</html>
