<!DOCTYPE html>
<html  class="no-js" lang="en">
{% load staticfiles %}
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>{% block title %}F1 Prediction Game{% endblock %}</title>

    <!-- Foundation -->
    <link rel="stylesheet" href="{% static 'foundation/css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'foundation/css/foundation.css' %}" />

    <!-- Tablesaw -->
    <link rel="stylesheet" href="{% static 'tablesaw/bare/tablesaw.bare.css' %}" />
    <!-- Tablesaw -->
    <!--[if lt IE 9]><script src="{% static 'tablesaw/dependencies/respond.js' %}></script><![endif]-->
    <script src="{% static 'tablesaw/dependencies/jquery.js' %}"></script>
    <script src="{% static 'tablesaw/tablesaw.js' %}"></script>
    <script src="{% static 'tablesaw/tablesaw-init.js' %}"></script>

    <!-- My App -->
    <link rel="stylesheet" href="{% static 'predict/app.css' %}" />
    
    <style>
      .header {
          text-align: center;
          background: url("{% static 'images/f1-cars.jpg' %}") no-repeat center center;
          background-size: cover;
          padding: 4rem;
      }
    </style>
</head>

<body>

    {% include "predict/topbar.html" %}

    <header class="header">
        <div class="row">
            <div class="small-12 columns">
                <div class="small-12 columns">
                    <h1 class="main-header"><strong>
                    {% block header-heading %}
                    {% endblock %}
                    </strong></h1>
                </div>
            </div>
        </div>
        <ul class="header-subnav">
        {% block header-subnav-items %}
        {% endblock %}
        </ul>
    </header>

    {% block page-content %}
    <p>Page Content</p>
    {% endblock %}

    <!-- Foundation -->
    <script src="{% static 'foundation/js/vendor/jquery.js' %}"></script>
    <script src="{% static 'foundation/js//foundation.min.js' %}"></script>
    <script>
        $(document).foundation();
    </script>

</body>

</html>



