<!-- Basic page layout -->
{% extends "predict/base.html" %}

<!-- The main page content -->
{% block page-content %}
<div class="row">
	<div class="large12 columns">
		<h1>F1 Prediction Game</h1>
        <h3>Introduction</h3>
        {% lorem %}
        <h3>Rules</h3>
        {% lorem %}
        <h3>Scoring</h3>
        {% lorem %}
        
        {% if not user.is_authenticated %}
        <p><a href="/accounts/login/?next=/">Login</a> or <a href="/register/">Register</a></p>
        {% endif %}
    </div>
</div>
{% endblock %}
