
<!-- Basic page layout -->
{% extends "predict/base.html" %}


<!-- The main page content -->
{% block page-content %}

<div class="row">
    <div class="small-12 columns">
        <div class="small-12 panel columns">
            {% if season %}
            <h2>Formula 1 {{season.first.name}} Season</h2>
            {% endif %}
        </div>
        <div class="small-12 panel columns">
            {% include "predict/results.html" %}
        </div>
    </div>
</div>


<!-- 
<div class="row">
    <div class="small-12 panel columns">
        <div class="small-6 columns">
            {% include "predict/driver_champ.html" %}
        </div>
        <div class="small-6 columns">
            {% include "predict/team_champ.html" %}
        </div>
    </div>
</div>
-->


<div class="row">
    <div class="small-12 columns">
        <div class="small-6 panel columns">
            {% include "predict/calendar.html" %}
        </div>
        <div class="small-6 panel columns">
            {% include "predict/entry_list.html" %}
        </div>
    </div>
</div>

{% endblock %}
