
<!-- Basic page layout -->
{% extends "predict/base.html" %}



{% block header-heading %}
    {% if season %}
        Formula 1 {{season.first.name}} Season
    {% endif %}
{% endblock %}

{% block header-subnav-items %}
    <li><a class="is-active" href="{% url 'season_overview' season.first.name %}">Results</a></li>
    <li><a href="{% url 'driver_championship' season.first.name %}">Drivers</a></li>
    <li><a href="{% url 'constructor_championship' season.first.name %}">Constructors</a></li>
    <li><a href="{% url 'calendar' season.first.name %}">Calendar</a></li>
    <li><a href="{% url 'entry_list' season.first.name %}">Entry List</a></li>
{% endblock %}

<!-- The main page content -->
{% block page-content %}

<div class="row panel">
    <div id="Results" class="small-12 columns">
        {% include "predict/results.html" %}
    </div>
</div>



{% endblock %}
