{% block sidebar %}
{% if season_list %}
<div id="season-list">
    <div class="content">
    <table>
    <tr><th><a href="/predict/">F1 Predict</a></th></tr>
    {% for season in season_list %}
        <tr><td><a href="/predict/{{ season.name }}/">{{ season.name }}</a></td></tr>
    {% endfor %}

    {% if user.is_authenticated %}
        <tr><td><a href="/accounts/logout/?next=/predict">Logout</a></td></tr>
    {% endif %}
    {% if not user.is_authenticated %}
        <tr><td><a href="/accounts/login/?next=/predict">Login</a></td></tr>
        <tr><td><a href="/register/">Register</a></td></tr>
    {% endif %}
    </table>
    </div>
</div>
{% endif %}
{% endblock %}