<pre>
{% if season_results %}
[code=auto:0]
Player&#9;&#9;&#9;{% for race in race_list %}{{race.season_round.circuit.country_code}}  {% endfor %}Total
--------&#9;&#9;{% for race in race_list %}----{% endfor %}-----
{% for score, name, results in season_results %}
{{name|capfirst}}&#9;&#9;&#9;{% for s in results %}{{s|rjust:"2"}}  {% endfor %}{{score|rjust:"5"}}
{% endfor %}
[/code]
{% endif %}
</pre>


<pre>
{% if season_results %}
[table]
  [tr]
      [th]Player[/th]
      {% for race in race_list %}
      [th]{{race.season_round.circuit.country_code}}[/th]
      {% endfor %}
      [th]Total[/th]
  [/tr]
  {% for score, name, results in season_results %}
  [tr]
      [th]{{name|capfirst}}[/th]
      {% for s in results %}
      [td]{{s}}[/td]
      {% endfor %}
      [td]{{score}}[/td]
  [/tr]
  {% endfor %}
[/table]
{% endif %}
</pre>
