<!-- Basic page layout -->
{% extends "predict/base.html" %}


<!-- The main page content -->
{% block page-content %}
<div class="row">
    {% if driver_list %}
    <div class="large-12 columns">
        <h3>{{driver_list.first.team.name}}<h3>
        <h3>{{driver_list.first.engine.name}}</h3>
        </table>
    </div>
    {% endif %}
</div>

<div class="row">
    {% if driver_list %}
    <div class="large-4 columns">
        <h3>Drivers</h3>
        <table>
            <tr><td>Name</th><th>Number</td></tr>
            {% for driver in driver_list %}
            <tr><td><a href='/predict/{{driver.season.name}}/driver/{{driver.driver.pk}}'>{{driver.driver.name}}</a><td>{{driver.driver.number}}</td> </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}

    {% if result_list %}
    <div class="large-8 columns">
        <h3>Results</h3>
        <table>
            <tr>
                <th>Date</th>
                <th>Grand Prix</th>
                <th>Driver</th>
                <th>Finish</th>
            </tr>
            {% for result in result_list %}
            <tr>
                <td>{{result.result.season_round.date}}</td>
                <td><a href='/predict/{{result.result.season_round.season.name}}/round/{{result.result.season_round.circuit.country}}'>{{result.result.season_round.circuit.country}}</a></td>
                <td><a href='/predict/{{result.result.season_round.season.name}}/driver/{{result.driver.driver.id}}'>{{ result.driver.driver.name }}</a></td>
                <td>{{result.position.position}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}
