<!-- Basic page layout -->
{% extends "predict/base.html" %}

{% block header-heading %}
Team Overview
{% endblock %}

<!-- The main page content -->
{% block page-content %}
<div class="row">
    {% if driver_list %}
    <div class="small-12 panel columns">
    <div class="small-12 columns">
        <h3>{{driver_list.first.team.name}}</h3>
    </div>
    <div class="small-12 columns">
        <h4>{{driver_list.first.engine.name}}</h4>
    </div>
    </div>
    {% endif %}
</div>


<div class="row">
    {% if driver_list %}
    <div class="small-12 panel columns">
        <h4>Drivers</h4>
            {% for driver in driver_list %}
            <div class="small-6 columns">
                <div class="small-6 columns">
                    <h5><a href="{% url 'driver_overview' driver.season.name driver.driver.pk %}">{{driver.driver.name}}</a></h5>
                </div>
                <div class="small-6 columns">
                    <h5>#{{driver.driver.number}}</h5>
                </div>
            </div>
            {% endfor %}
        </table>
    </div>
    {% endif %}
</div>
<div class="row">
    {% if result_list %}
    <div class="small-12 panel columns">
        <h4>Results</h4>
        <table class="fullwidth">
            <tr>
                <th>Date</th>
                <th>Grand Prix</th>
                <th>Driver</th>
                <th>Finish</th>
            </tr>
            {% for result in result_list %}
            <tr>
                <td>{{result.result.season_round.race_date}}</td>
                <td><a href="{% url 'race_overview' result.result.season_round.season.name result.result.season_round.circuit.country %}">{{result.result.season_round.circuit.country}}</a></td>
                <td><a href="{% url 'driver_overview' result.result.season_round.season.name result.driver.driver.id %}">{{result.driver.driver.name}}</a></td>
                <td>{{result.position.position}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}
