
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">F1 Predict</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li class="has-dropdown">
      <a href="#">{% if user.is_authenticated %}{{user.username|capfirst}}{% else %}Menu{% endif %}</a>
        <ul class="dropdown">
          {% if season %}
          <li><a href="/{{season.first.name}}/user/{{user.username}}">Predictions</a></li>
          {% endif %}
          {% for s in season_list %}
          <li><a href="/{{s.name}}/">{{s.name}}</a></li>
          {% endfor %}
          {% if user.is_authenticated %}
            {% if user.is_staff %}
              <li><a href="/admin/">Admin</a></li>
            {% endif %}
          <li><a href="/accounts/logout/?next=/">Logout</a></li>
          {% else %}
          <li><a href="/accounts/login/?next=/">Login</a></li>
          {% endif %}
        </ul>
      </li>
    </ul>
  </section>
</nav>


