<div class="row">
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text"><a href="/predict/">F1 Predict</a></li>
        {% for season in season_list %}
        <li><a href="/predict/{{ season.name }}/">{{ season.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        {% if season %}
          {% for s in season %}
            <li><a href="/predict/{{s.name}}/user/{{user.username}}">{{user.username|capfirst}}</a></li>
            <li>{{season_score}} points</li>
          {% endfor %}
        {% else %}
            <li>{{user.username|capfirst}}</li>
        {% endif %}

        {% if user.is_authenticated %}
          <li><a href="/predict/accounts/logout/?next=/predict/">Logout</a></li>
        {% else %}
          <li><a href="/predict/accounts/login/?next=/predict/">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
