<!-- Basic page layout -->
{% extends "predict/base.html" %}

<!-- The season list sidebar -->
{% block sidebar %}
{% include "predict/season_list.html" %}
{% endblock %}

<!-- The main page content -->
{% block page-content %}
<div class="page-row">
    {% include "predict/season_header.html" %}
</div>

{% if error_message %}
</div class="page-row">
    <div class="content">
	    <p><strong>{{ error_message }}</strong></p>
	</div>
</div>
{% endif %}

<div class="page-row">
    <div class="content">
    <h2>Prediction</h2>
	    <form method="POST">{% csrf_token %}
	        <table>
 	            {{ form.as_table }}
	            {% for p in pforms %}
	                {{p.as_table}}
	            {% endfor %}                 
	        	<tr><th></th><td><button type="submit" class="save btn btn-default">Save</button></td></tr>
			</table>            
	    </form>
	 </div>
</div>
{% endblock %}
